.container {
  width: 100%;
  height: 100%;
  position: relative;
  .myswiper {
    width: 100%;
    height: 100%;
    text-align: center;
    .swiperslide {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: auto 5px;
      }
      span {
        font-size: 20px;
        margin: 30px 10px;
        color: red;
        font-weight: 550;
        text-transform: capitalize;
        font-family: var(--font-base);
      }
    }
  }
  h2 {
    color: goldenrod;
    font-size: 2rem;
    padding-bottom: 50px;
    text-transform: capitalize;
    font-weight: 600;
    text-shadow: blue;
    font-family: var(--font-base);
  }
}

@media (max-width: 768px) {
  .container {
    .myswiper {
      .swiperslide {
        img {
          height: 400px;
        }
        span {
          font-size: 15px;
          padding-top: 5px;
        }
      }
    }
    h2 {
      font-size: 20px;
      padding-bottom: 20px;
      font-weight: 550;
    }
  }
  h2 {
    font-size: 1.2rem;
    padding-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .container {
    padding-bottom: 20px;
    .myswiper {
      span {
        font-size: 13px;
        padding: 0px;
      }
    }
  }
  h2 {
    font-size: 19px;
    padding-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .container {
    .myswiper {
      .swiperslide {
        span {
          font-size: 12px;
        }
      }
    }
  }
  h2 {
    font-size: 18px;
    padding-bottom: 12px;
  }
}
